# LDAP Configs
# LDAP Host Configs
LDAP_HOST=ldaps://ldap.google.com
LDAP_PORT=636
LDAP_VERSION=3
# Use 0 or 1 for False or True
LDAP_START_TLS=0

# LDAP Search Configs
LDAP_SEARCH_ATTRIBUTE=mail
LDAP_BASE_DN=dc=example,dc=com
LDAP_FILTER=(mail=*)

# LDAP Auth with Certificate and Private Key
LDAP_BIND_DN=<Google LDAP Client Username>
LDAP_BIND_PASSWORD=<Google LDAP Client Password>
# Use 0 or 1 for False or True
LDAP_SECURE=1
LDAP_CERT_PATH=/etc/ldap/certs/certificate.crt
LDAP_KEY_PATH=/etc/ldap/certs/key.key
