# OAuth DB Configs
# DB name is the name of the database that will be created in the postgres server for php-ldap-client
DB_NAME=<ldap_db_name>
DB_TYPE=pgsql
# DB_USER is the user that will be used to connect to the postgres server for php-ldap-client
DB_USER=<ldap_db_user>
# DB_PASS is the password of the user that will be used to connect to the postgres server for php-ldap-client
DB_PASS=<ldap_db_user_password>
DB_PORT=5432       
DB_HOST=<postgres_ip_or_hostname>

# Init Scripts Related Configs
INPUT_DB_FILE=/home/init_user.sql
INPUT_SCHEMA_FILE=/home/init_schema.sql
OUTPUT_DB_FILE=/home/init_user_mod.sql
OUTPUT_SCHEMA_FILE=/home/init_schema_mod.sql
