# OAuth Configs
# Emulated OAuth Client ID. You can use any string as the client ID.
CLIENT_ID=<OAUTH Client ID>
# Emulated OAuth Client Secret. You can use any string as the client secret.
CLIENT_SECRET=<OAUTH Client Secret>
REDIRECT_URL=https://<Mattermost_Host>/signup/gitlab/complete
# No Need to change below values
GRANT_TYPES=authorization_code
SCOPE=api
USER_ID=""
